<div class="navigation">
    <div class="nav">
        <div class="nav-link" routerLink="/home" routerLinkActive="active">
            <i class="fa fa-home fa-3x"></i>
            <p class="nav-link-title">Home</p>
        </div>
        <div class="nav-link" routerLink="/image/upload" routerLinkActive="active">
            <i class="fa fa-upload fa-3x"></i>
            <p class="nav-link-title">Upload</p>
        </div>
        <div class="nav-link" routerLink="/image/view" routerLinkActive="active">
            <i class="fa fa-image fa-3x"></i>
            <p class="nav-link-title">Images</p>
        </div>
        <div class="nav-link" routerLink="/auth/sign-in" routerLinkActive="active">
            <i class="fa fa-sign-in fa-3x"></i>
            <p class="nav-link-title">Login</p>
        </div>
        <div class="logout">
            <p [hidden]="!authenticated()" class="nav-link-title">Logged in as {{ loggedUser }} <a id="logout-a" (click)="logout()">(Logout)</a></p>
        </div>
    </div>
    <p class="title">
            {{ projectTitle }}
    </p>
</div>