* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
}

header {
    height: 50px;
    width: 100%;
    padding: 10px 10px;
}

#users-wrapper {
    float: left;
    font-size: 20px;
    margin: 15px 15px 0 15px;
}

#title-container {
    width: 65%;
    margin: 0 auto;
    padding: 0;
}

#title {
    text-align: center;
}

#editor {
    width: 85%;
    height: 80%;
    background-color: #ffffff;
    display: block;
    resize: none;
    margin: 30px auto 0 auto;
}

#gradient {
    background-image: linear-gradient(#f5f7fa, #c3cfe2);
}