* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    height: 50px;
    width: 100%;
    padding: 10px 10px;
}

#title-container {
    width: 65%;
    margin: 0 auto;
    padding: 0;
}

#title {
    text-align: center;
}

#item_container {
    display: block;
    width: 70%;
    height: 70%;
}

#item_previewer {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    border: 3px solid black;
    border-radius: 5px;
    margin: 30px auto 0 auto;
}

#menu {
    /* margin-right: 50px; should not be so close to the end*/
    /* display: block; */
    float: right;
    margin: 30px auto 0 auto;
    width: 30%;
    height: 60%;
}

#select_action {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

#select-send-container {
    width: 60%;
    margin: 0 40% 0 0;
}

#select_action_label {
    display: block;
    margin-bottom: 5px;
}

#send {
    height: 30px;
    width: 120px;
    display: block;
    margin: 10px auto;
    bottom: 10px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

#send:hover {
    cursor: pointer;
    text-decoration: underline;
}

#send:active {
    transform: translateY(2px);
}

#gradient {
    background-image: linear-gradient(#f5f7fa, #c3cfe2);
}