* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    margin-top: 3%;
}

#main-logo-container {
    width: 100%;
    text-align: center;
}

#gradient {
    background-image: linear-gradient(#f5f7fa, #c3cfe2);
}

#login-info {
    font-size: 26px;
    margin-left: 1em;
    margin-top: 1em;
}