* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-container {
    margin: 0 auto;
    padding: 0 px;
    width: 25%;
}

#register-form {
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid #0073e6;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Arial";
    padding: 5px;
    margin-top: 25%;
}

.form-title {
    color: #0073e6;
    font-weight: bold;
    margin: auto auto 15px auto;
    text-align: center;
}

.field-input {
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid #0073e6;
    border-radius: 5px;
    font-size: 15px;
    margin: 5px 5%;
    padding: 5px;
    width: 90%;
    height: 30px;
}

.btn {
    background-color: #0073e6;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    margin: 20px 0 5px 0;
    padding: 5px;
}

.btn:hover {
    background-color: #3399ff;
}

.btn {
    background-color: #0073e6;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    margin: 20px 0 5px 0;
}

.btn:hover {
    background-color: #3399ff;
}

.input-container {
    width: 100%;
    text-align: center;
}

#gradient {
    background-image: linear-gradient(#f5f7fa, #c3cfe2);
}

.error {
    color: red;
    text-align: initial;
    margin-left: 5%;
}

.message {
    margin-top: 10px;
    color: green;
}