.table-container {
    width: 60%;
    margin: 0 20%;
}

.aligned-cell {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.edit-cell {
    background-color: rgb(174, 216, 230, 0.5);
}

.edit-cell:hover {
    background-color: lightblue;
    text-decoration: underline;
}

.delete-cell {
    background-color: rgb(220, 0, 0, 0.5);
}

.delete-cell:hover {
    background-color: rgb(220, 0, 0);
    text-decoration: underline;
}