<div class="mock-image-display">
    <div class="mock-img">
        <p>IMG_0012.jpg</p>
        <img src="assets/img/IMG_0012.jpg" style="max-width: 300px; height: auto;">
        <div class="centered">
            <i class="fa fa-edit fa-3x"></i>
            <i class="fa fa-download fa-3x"></i>
            <i class="fa fa-trash fa-3x" style="color: darkred;"></i>
        </div>
    </div>
    <div class="mock-img">
        <p>IMG_0014.jpg</p>
        <img src="assets/img/IMG_0014.jpg" style="max-width: 300px; height: auto;">
        <div class="centered">
            <i class="fa fa-edit fa-3x"></i>
            <i class="fa fa-download fa-3x"></i>
            <i class="fa fa-trash fa-3x" style="color: darkred;"></i>
        </div>
    </div>
    <div class="mock-img">
        <p>IMG_0001.jpg</p>
        <img src="assets/img/IMG_0001.jpg" style="max-width: 300px; height: auto;">
        <div class="centered">
            <i class="fa fa-edit fa-3x"></i>
            <i class="fa fa-download fa-3x"></i>
            <i class="fa fa-trash fa-3x" style="color: darkred;"></i>
        </div>
    </div>
</div>