.browse-btn {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #f2f2f200;
    margin: 15px;
    color: rgba(0, 0, 0, 0.7);
}

.upload-btn {
    border: 2px solid rgba(0, 0, 0);
    border-radius: 5px;
    background-color: #f2f2f200;
    margin: 15px;
    color: rgba(0, 0, 0);
    float: right;
}

.browse-btn:active, .upload-btn:active {
    transform: translateY(2px);
}

.upload-table {
    margin-top: 20px;
}

.center {
    width: 50%;
    margin: 20px auto;
}